
.btn-size{
    width:125px;
}
.form-field {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.title{
    font-size: 26px;
    font-weight: bold;
    margin-top:60px;
  
}
.image-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed 1px #ccc;
    margin: 0 50px ;
    height: 150px;
}
.image-icon{
    font-size: 40px;
    color: #ccc;
}